.navbar{
    height: 100px;
    background-color: rgb(255 139 0);
    display: flex;
    justify-content: center;
}
.logo-navbar{
    width: 150px;
}
.burger-menu-button-bar{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
.burger-menu-button:hover{
    scale: 1.1;
    cursor: pointer;
}

.container-navbar{
    width: 100%;
    height: 100%;
    padding: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    font-size: 24px;    
    padding: 5px 20px;    
    border: none;
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}
.d-none {
    display: none;
}

.btn:hover{
    background-color: rgb(190, 190, 190);
}

.btn:active{
    transform: scale(0.95);
}
.d_none {
    display: none;
}


.pizza-logo{
    width: 140px;
    padding-bottom: 50px;
}
.restaurant-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}
.img-overlay-div{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: rgb(250, 250, 250);
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container{
    position: relative;
    display: inline-block;
    width: 100%;
}
.all-content{
    display: flex; 
    background-color: rgb(250, 250, 250);
}

.main-content{
    width: 100%;
    
}
.restaurant-content{
    padding: 20px 10px;
    
}
.bewertung{
    color: rgb(255 139 0);
    margin-top: 20px;
    
}
.dish-selection{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgb(250, 250, 250);
    padding: 10px 0;
    overflow: scroll;
    gap: 10px;
    scrollbar-width: none;
}
.dish-main-img{
    margin-top: 20px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.shopping-cart{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    min-height: calc(100vh - 100px);
    box-shadow: 5px 0 10px gray;
    margin-bottom: 20px;
}
.shopping-cart-content{
    width: 100%;
    position: sticky;
    top: 20px;
}
.shopping-cart-item{
    margin-top: 20px;
    z-index: 3;

}
.shopping-cart-amount-and-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.shopping-cart-item-amount{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 4;
}
.btn-shopping-cart{
    width: 300px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    font-size: 24px;    
    padding: 5px 20px;
    border-radius: 17px;
    border: none;
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

.btn-shopping-cart:hover{
    background-color: rgb(190, 190, 190);
}

.btn-shopping-cart:active{
    background-color: rgb(230, 230, 230);
}

.btn-shopping-cart-position{
    position: relative;
    width: 100%;
}

.btn-shopping-cart-order-position{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.filter-orange{
    cursor: pointer;
    width: 35px;
    padding-top: 10px;
    padding-right: 5px;   
      
}
.add-remove {
    width: 30px;
    cursor: pointer;
    margin: 10px;
}

.dish-selector-plus:hover{
    transform: scale(1.3);
}

.dish-selector-plus:active{
    transform: scale(0.9);
}

.dish-selector-shopping-cart-plus{
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255 139 0);
    margin: 0 20px;
}

.dish-selector-shopping-cart-minus{
    cursor: pointer;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(255 139 0);
    margin: 0 20px;
}

.trash-bin:hover,
.dish-selector-shopping-cart-plus:hover,
.dish-selector-shopping-cart-minus:hover{
    transform: scale(1.1);
}

.trash-bin:active,
.dish-selector-shopping-cart-plus:active,
.dish-selector-shopping-cart-minus:active{
    transform: scale(0.9);
}

.trash-bin{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.dish-card{
    width: 100%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 150px;
    margin-top: 20px;
    padding: 15px;
}
.dish-selector{
    
    width: 45px;
    height: 45px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 5px;
}
.menu_box {

    background-color: rgba(239, 239, 239, 1);
    border: 1px solid rgba(205, 205, 205, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 100px;
    gap: 23px;
    transition: all 175ms ease-in-out;
    z-index: 10;

}
.menu_box_closed {

    opacity: 0;
    z-index: -1;;

}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1em; 
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background-color: rgb(250, 250, 250);
}

.dialog-ordered{
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 1em; 
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: rgb(250, 250, 250);
}
.dialog-content{
    width: 100%;
    height: 100%;
    padding: 16px;
}

.footer{
    height: 100px;
    background-color: rgb(255 139 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@media (max-width: 900px) {
    .shopping-cart.d-none-u-900px {
        display: none;
    }
    .dish-selection {
        display: none;
    }
    .burger-menu-button {
        position: fixed;
        right: 70px;
    }
    .menu_box {
        position: fixed;
    }
}

@media (min-width: 900px) {
    .btn-shopping-cart {
        display: none;
    }
}
@media (max-width: 490px) {
    .pizza-logo {
        width: 100px;
    }
    .img-overlay-div {
        bottom: -45px;
        width: 130px;
        height: 130px;
    }
}

@media (max-width: 412px) {
    .pizza-logo {
        width: 80px;
        padding-bottom: 20px;
    }
    .img-overlay-div {
        bottom: -25px;
        width: 100px;
        height: 100px;
    }
    .burger-menu-button {
        right: 20px;
    }
}
@media (max-width: 740px) {
    .dish-card {
        height: 220px;
    }
}

@media (max-width: 800px) {
    .burger-menu-button {
        right: 50px;
    }
}

@media (max-width: 700px) {
    .burger-menu-button {
        right: 40px;
    }
}

@media (max-width: 600px) {
    .burger-menu-button {
        right: 30px;
    }
}